<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SHAARE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dashboardclg" ></activity>
        <activity android:name=".ViewAadhoc" />
        <activity android:name=".ViewMulticore" />
        <activity android:name=".ViewAca" />
        <activity android:name=".ViewCg" />
        <activity android:name=".viewEntre" />
        <activity android:name=".Multicore" />
        <activity android:name=".Adhoc" />
        <activity android:name=".Advancecomputer" />
        <activity android:name=".Computergraphics" />
        <activity android:name=".Entrepreneurship" />
        <activity android:name=".Seeevensem" />
        <activity android:name=".ViewCompiler" />
        <activity android:name=".ViewDc" />
        <activity android:name=".ViewImage" />
        <activity android:name=".ViewWt" />
        <activity android:name=".ViewCn" />
        <activity android:name=".ViewOomd" />
        <activity android:name=".Compilerdesign" />
        <activity android:name=".Datacommunication" />
        <activity android:name=".Digitalimg" />
        <activity android:name=".Webtechnology" />
        <activity android:name=".Computernetwork" />
        <activity android:name=".Oomd" />
        <activity android:name=".ViewSt" />
        <activity android:name=".ViewAdds" />
        <activity android:name=".ViewDbms" />
        <activity android:name=".ViewAdjava" />
        <activity android:name=".Viewusp" />
        <activity android:name=".Softwaretest" />
        <activity android:name=".Adds" />
        <activity android:name=".Dbms" />
        <activity android:name=".Adjava" />
        <activity android:name=".Usp" />
        <activity android:name=".SixthSemester" />
        <activity android:name=".FifthSemester" />
        <activity android:name=".ViewDesign" />
        <activity android:name=".ViewMicrocontroller" />
        <activity android:name=".ViewFafl" />
        <activity android:name=".ViewOops" />
        <activity android:name=".ViewM4" />
        <activity android:name=".DesignAlgo" />
        <activity android:name=".Microcontroller" />
        <activity android:name=".Fafl" />
        <activity android:name=".Oops" />
        <activity android:name=".Math4" />
        <activity android:name=".View_Discrete" />
        <activity android:name=".View_De" />
        <activity android:name=".ViewCo" />
        <activity android:name=".ViewDs" />
        <activity android:name=".ViewM3" />
        <activity android:name=".DiscreteMath" />
        <activity android:name=".DigitalElectronics" />
        <activity android:name=".ComputerOrg" />
        <activity android:name=".DataStructures" />
        <activity android:name=".Maths3" />
        <activity android:name=".FourthSemester" />
        <activity android:name=".ThirdSemester" />
        <activity android:name=".ViewM2" />
        <activity android:name=".ViewEnglish" />
        <activity android:name=".ViewElectronics" />
        <activity android:name=".ViewCprog" />
        <activity android:name=".ViewChem" />
        <activity android:name=".Maths2" />
        <activity android:name=".English" />
        <activity android:name=".Electronics" />
        <activity android:name=".Cprogramming" />
        <activity android:name=".Chem_is_tree" />
        <activity android:name=".KannadaView" />
        <activity android:name=".MechanicalView" />
        <activity android:name=".CivilView" />
        <activity android:name=".ElectricalView" />
        <activity android:name=".ViewMath1" />
        <activity android:name=".Phyview" />
        <activity android:name=".Kannada" />
        <activity android:name=".Mechanical" />
        <activity android:name=".Civil" />
        <activity android:name=".Electrical" />
        <activity android:name=".Maths1" />
        <activity android:name=".Physics" />
        <activity android:name=".Ccycle" />
        <activity android:name=".Pcycle" />
        <activity android:name=".Teesrayear" />
        <activity android:name=".Year2nd" />
        <activity android:name=".Firstyear" />
        <activity android:name=".Firstpage4thyr" />
        <activity android:name=".Firstpage" />
        <activity android:name=".View_pdf_sixth_Files" />
        <activity android:name=".View_pdf_Fifth_Files" />
        <activity android:name=".View_pdf_Fourth_Files" />
        <activity android:name=".View_pdf_Files" />
        <activity android:name=".SixthActivity" />
        <activity android:name=".FifthActivity" />
        <activity android:name=".FourthActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SekendActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>